#title {
  color: #BDE078;
  font-weight: normal;
  font-family: "Lilita One", cursive;
  font-size: 6vw;
  text-align: center;
  word-spacing: 10px;
  animation-name: title;
  animation-duration: 2s; }

@media (max-width: 800px) {
  #title {
    font-size: 10vw; } }

@keyframes title {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  background-color: white; }

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BDE078; }

li a {
  float: left;
  display: block;
  padding: 8px;
  background-color: #BDE078;
  font-family: "Roboto", sans-serif;
  color: white; }

a:hover {
  background-color: #D2F58C; }

.form-inline {
  float: right;
  padding-right: 8px; }

.menu-list .btn:hover {
  background-color: #D2F58C; }

/*Home*/
.logopotstatic {
  display: block;
  width: 8vw;
  height: 5vw;
  margin-left: auto;
  margin-right: auto; }

.img-fluid {
  width: 100%; }

.container__index--title {
  color: white;
  font-weight: normal;
  font-family: "Lilita One", cursive;
  font-size: 12vw;
  text-align: center;
  word-spacing: 10px;
  animation-name: title;
  animation-duration: 2s;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container__index--subtitle {
  color: white;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  text-align: center;
  word-spacing: 1px;
  animation-name: title;
  animation-duration: 2s;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container__index {
  position: relative;
  text-align: center;
  color: white;
  background-size: cover; }

.container__index .container__index--btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #C1CFA5;
  color: white;
  font-size: 1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.container__index .container__index--btn:hover {
  background-color: black; }

.img-fluid2 {
  display: none; }

@media only screen and (max-width: 800px) {
  .img-fluid {
    display: none; }
  .img-fluid2 {
    display: block;
    width: 100%; }
  .container__index--subtitle {
    top: 55%; }
  .container__index--title {
    font-size: 15vw; }
  .container__index--subtitle {
    font-size: 5vw; }
  .container__index--btn {
    font-size: 4vw !important; } }

/*Pots*/
.carousel-inner img {
  width: 30%;
  height: 30%;
  margin: auto;
  display: flex;
  flex-direction: row; }

.choose-pot {
  color: #BDE078;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  word-spacing: 10px;
  animation-name: title;
  animation-duration: 2s; }

.pot-btn {
  position: relative;
  display: block;
  margin-left: 50%;
  margin-bottom: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #C1CFA5;
  color: white;
  font-size: 1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.pot-btn:hover {
  background-color: black; }

@media (max-width: 800px) {
  .carousel-inner img {
    width: 100%;
    height: 100%; }
  .choose-pot {
    font-size: 5vw;
    margin-bottom: 10%; }
  .pot-btn {
    font-size: 3vw; } }

/*Plants*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  animation-name: flex-container;
  animation-duration: 2s; }

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .choose-pot {
    font-size: 5vw;
    margin-bottom: 10%; }
  .pot-btn {
    font-size: 3vw; } }

@keyframes flex-container {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*About*/
.subtitle {
  text-align: center;
  color: #C1CFA5;
  font-size: 3vw; }

.container__pot {
  display: flex;
  flex-direction: row; }
  .container__pot .container__pot--description {
    font-family: "Roboto", sans-serif;
    color: black;
    text-align: left;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
    display: inline-block;
    flex-direction: column;
    justify-content: center; }
  .container__pot .container__pot--img {
    margin: 20px 30px 20px 30px;
    width: 40%;
    object-fit: contain;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding: 10px;
    float: left; }
  .container__pot .container__pot--subtitle {
    font-family: "Roboto", sans-serif;
    color: black;
    text-align: left;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3vw;
    font-weight: bold;
    display: inline-block; }

@media (max-width: 800px) {
  .container__pot {
    flex-direction: column; }
  .container__pot--img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; }
  .container__pot--subtitle {
    font-size: 5vw !important; }
  .subtitle {
    font-size: 4vw; } }

/*Contact*/
.form {
  font-family: "Roboto", sans-serif; }
  .form .form__btn--primary {
    background-color: #C1CFA5;
    color: white;
    border-style: hidden; }
  .form .form__btn--primary:hover {
    background-color: #BDE078; }

.divform {
  text-align: center; }

@media (max-width: 800px) {
  .form {
    flex-direction: column;
    align-items: stretch; } }

/*Footer*/
footer {
  background-color: #BDE078;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 80%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
